body {
    background-color: #aaaaaa;
    font-family: Calibri;
    margin: 20px auto 20px auto;
    padding: 15px 15px 15px 15px;
    -webkit-font-smoothing: antialiased;
}

#title {
    display: block;
    margin: inherit;
}

    #title h1 {
        text-align: center;
        color: rgba(0, 0, 150, 1);
        margin: inherit;
        font-size: 80px;
    }

h2 {
    color: rgba(0, 0, 150, 1);
    margin: -10px 0 0 0;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

#frameBuffer {
    width: 640px;
    height: 480px;
    background-color: white;
    margin: inherit;
    padding: inherit;
    display: block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px rgba(89, 0, 140, .75);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(89, 0, 140, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(89, 0, 140, .75);
}

.container {
    width: 640px;
    min-height: 100px;
    background-color: white;
    margin: inherit;
    padding: inherit;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px rgba(89, 0, 140, .75);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(89, 0, 140, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(89, 0, 140, .75);
}

form {
}

.controls label {
    width: 150px;
    clear: both;
    margin: 15px 20px 0 50px;
    display: inline-block;
}

.controls input {
    width: 5;
    display: inline-block;
}

td[id*='remS'] button {
    margin: 0;
}

.controls button {
    margin: 15px 20px 0 50px;
}



button.standardButtonColor {
    border: 0px;
    padding: 4px 11px;
    color: rgb(255, 255, 255);
    background-color: rgb(89, 0, 140);
}

    button.standardButtonColor:hover {
        border-color: rgb(255, 255, 255);
        background-color: rgb(121, 0, 191);
    }

        button.standardButtonColor:hover:active {
            background-color: rgb(0, 0, 0);
        }

#manual {
    float: left;
}

#upload {
    margin: inherit;
    float: right;
}

#uploadProgress {
    width: 100%;
    margin: 15px auto;
    clear:both;
}

#holder {
    border: 6px dashed #ccc;
    width: 100px;
    min-height: 100px;
    margin: 20px auto;
    float: right;
}

    #holder.hover {
        border: 10px dashed #0c0;
    }

    #holder img {
        display: block;
        margin: 10px auto;
    }

    #holder p {
        margin: 10px;
        font-size: 14px;
    }

progress {
    width: 100%;
}

    progress:after {
        content: '%';
    }

.fail {
    background: #c00;
    padding: 2px;
    color: #fff;
}

.hidden {
    display: none !important;
}


table#serverList{
    margin: 15px 20px 0 50px;
    width: 100%;

}

.tableHeader {
    font-size: larger;
    font-weight: bold;
}